body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #7a6060;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color:lightgrey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="button"] {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #d0d0d0;
}

input[type="text"] {
    width: 220px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #d9d0d0;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: lightsteelblue;
}
#one,#two,#three{
    background-color: aqua;
}
#plus,#sub,#mul,#div{
    background-color: brown;
}
